nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_container {
    padding-top: 50px;
}

.padding_top_100 {
    padding-top: 100px;
}

.padding_bottem_100 {
    padding-bottom: 100px;
}

.margin_top_100 {
    margin-top: 100px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.center {
    text-align: center;
}

img.left {
    float: left;
}
img.absolute {
    position: absolute;
}

img.resize_300 {
    height: 300px;
}

img.resize_250 {
    height: 250px;
}

img.resize_150 {
    height: 150px;
}

img.resize_100 {
    height: 100px;
}

img.resize_16 {
    height: 16px;
}

img.inline {
    display:inline-block;
}