nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_container {
    padding-top: 50px;
}

.padding_top_100 {
    padding-top: 100px;
}

.padding_bottem_100 {
    padding-bottom: 100px;
}

.margin_top_100 {
    margin-top: 100px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.resize_300 {
    height: 350px;
}

img.resize_16 {
    height: 16px;
}